*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
  height:100%;
    background-image: url('https://i.pinimg.com/originals/2b/3b/04/2b3b04771ccca26c3dd96d781b0117ca.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.wrapper {
    width: 50%;
    height: 98%;
    /* margin: 200px auto; */
    min-width: 590px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
}

.container {
    width: 100%;
    padding: 20px 20px 25px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 30px rgba(0,0,0,0.2);
}

.container * {
    font-family: "Poppins", sans-serif;
    color: black;
    font-weight: 500px;
}

.principal {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.pokemon-name {
    margin: 20px 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    /* background-color: green; */
}

.pokemon-name h3 {
    letter-spacing: 1px;
    font-size: 40px;
    font-weight: bold;
}

.pokemon-name p, .pokemon-name span {
    color: gray;
    font-size: 26px;
}

/* Search */

.formulario {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search button {
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.search button img {
    width: 20px;
    height: 20px;
}

.search input {
    padding: 10px;
    width: 300px;
    border-radius: 50px;
    font-size: 16px;
}

.content {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    grid-auto-rows: minmax(5px, auto);
}

.image {
    border-radius: 10px;
    background-color: #EEEEEE;
    grid-column: 1;
    grid-row: 1 / 4;
}

.image img {
    width: 100%;
    height: 100%;
}

/* Bio */

.bio {
    grid-column: 2;
    grid-row: 1;
}

.version {
    display: flex;
    align-items: center;
    gap: 10px;
}

.version img {
    width: 40px;
    height: 40px;
}

#red {
    filter: invert(24%) sepia(86%) saturate(6964%) hue-rotate(325deg) brightness(87%) contrast(111%);
    cursor: pointer;
}

#blue {
    filter: invert(41%) sepia(99%) saturate(1573%) hue-rotate(206deg) brightness(97%) contrast(86%);
    cursor: pointer;
}

p {
    margin: 15px 0;
    font-size: 22px;
}

li {
    list-style: none;
}

.act {
    border: 7px solid #609EA2;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Atributos */

.atr {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background-color: #609EA2;
    grid-column: 2;
    grid-row: 2;
}

.atr-ul {
    padding: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(50px, auto);
}

.atr-one {
    grid-column: 1;
    grid-row: 1;
    color: #fff;
    font-size: 20px;
}

.atr-one span {
    display: block;
    color: #000;
    font-size: 22px;
    margin: 15px 0;
}

.atr-two {
    grid-column: 1;
    grid-row: 2;
    color: #fff;
    font-size: 20px;
}

.atr-two span {
    display: block;
    color: #000;
    font-size: 22px;
    margin: 15px 0;
}

.atr-three {
    grid-column: 1;
    grid-row: 3;
    color: #fff;
    font-size: 20px;
}

.atr-four {
    grid-column: 2;
    grid-row: 1 / 3;
    color: #fff;
    font-size: 20px;
}

.atr-four span {
    display: block;
    color: #000;
    font-size: 22px;
    margin: 15px 0;
}

li img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.gender {
    margin-top: 15px;
}

/* Type */
.type {
    padding: 30px;
    grid-column: 2;
    grid-row: 3 / 6;
}

.type h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.type-ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(50px, auto);
}

.type-atr {
    width: 75%;
    height: 75%;
    background-color: #E8D5C4;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    border-radius: 10px;
}

/* Stats */
.stats {
    background-color: #F0EEED;
    padding: 30px;
    border-radius: 10px;
    grid-column: 1;
    grid-row: 5;
}

.stats h3 {
    margin-bottom: 20px;
    font-size: 20px;
}

.details{
    width: 100%;
    display: flex;  
    justify-content: space-between;
    margin-bottom: 10px;
}

.bar{
    position: relative;
    border: 2px solid #0d96e0;
    border-radius: 20px;
}

.bar div{
    position: relative;
    width: 0;
    height: 9px;
    border-radius: 10px;
    background-color: #0d96e0;
}

.skills:not(:last-child){
    margin-bottom: 20px;
}
